Package: com.sassoty.wrongpasscode
Name: WrongPasscode
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Sassoty <noahsaso@gmail.com>
Author: Sassoty <noahsaso@gmail.com>
Section: Tweaks
Version: 0.0.1-1
Installed-Size: 40
